
main{
    color:dimgrey;
}

a:hover{
   font-size: 30px; 
}

a.link:visited{
     color: #FFD700;
}

a:visited {
    color: gray;
}  

a.rotatou:hover { 
  font-size: 30px;
  background: -webkit-linear-gradient(#ff5000, #0055ff, #00ff55, #FFFF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }

.introtop {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin-left:10%;
}

#middle{
    font-size: 40px;
    text-align: center;
    color: #FFD700;
    font-family: 'Anton', sans-serif;
    margin:10%;
}


.rotate {
writing-mode: vertical-rl;
text-orientation: sideways;
margin-left: 20%;
font-size: 30px;
margin-bottom: 10%;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .introtop {
    font-size: 15px;
  }
}


.title{
    font-family: 'Lobster', cursive;
}

.roudou{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    height: 50vw;
    margin: auto;
}

.byhand{
    font-family: 'Homemade Apple', cursive;
    color: black;
    font-size: 50px;
}

#bottom{
    width: 100%;
}

#copyright{
 
    font-size: 12px;
    color: darkgrey;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.backgroundp2{
   background-image: url(background3.png);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}